{% extends "base.html" %}
{% block content %}
<div class="container mt-4" style="max-width: 10cm;">
  <h2>Orden de Fabricación</h2>
  <table class="table table-bordered">
    <tr><th>Fecha Orden</th><td>{{ orden.fecha_orden_fabricacion|date:"d/m/Y" }}</td></tr>
    <tr><th>Número</th><td>{{ orden.numero }}</td></tr>
    <tr><th>Sucursal</th><td>{{ orden.id_sucursal }}</td></tr>
    <tr><th>Propósito</th><td>{{ orden.id_proposito }}</td></tr>
    <tr><th>Marca</th><td>{{ orden.id_modelo.id_marcas.nombre }}</td></tr>
    <tr><th>Modelo</th><td>{{ orden.id_modelo }}</td></tr>
    <tr><th>Descripción</th><td>{{ orden.descripcion }}</td></tr>
    <tr><th>Info Adicional</th><td>{{ orden.info_adicional }}</td></tr>
    <tr><th>Hilos</th><td>{{ orden.id_hilos }}</td></tr>
    <tr><th>Cortador</th><td>{{ orden.id_cortador }}</td></tr>
    <tr><th>Armador</th><td>{{ orden.id_armador }}</td></tr>
    <tr><th>Empacador</th><td>{{ orden.id_empacador }}</td></tr>
    <tr><th>Sucursal</th><td>{{ orden.id_sucursal }}</td></tr>
    <tr><th>Vendedor</th><td>{{ orden.id_vendedor }}</td></tr>
    <tr><th>Estatus</th><td>{{ orden.id_estatus }}</td></tr>
    <tr><th>Activo</th><td>{{ orden.activo|yesno:"Sí,No" }}</td></tr>
    <!-- Agrega más campos si lo necesitas -->
  </table>
    <div class="text-center mb-3">
    <img src="data:image/png;base64,{{ barcode_base64 }}" alt="Código de barras">
    <button class="btn btn-primary" onclick="window.print()">Imprimir</button>
    <a href="{% url 'orden_list' %}" class="btn btn-secondary">Volver</a>
    </div>
</div>
{% endblock %}